<%= header_nav %>

<%= mobile_nav %>

<!-- MAIN PAGE LAYOUT -->
<div class="container-xxl iti-gutter iti-page__main mt-3 my-md-4 <%= layoutClass %>">

  <!-- CONTEXT NAV (DESKTOP: CONTEXT-SPECIFIC, MOBILE: HIDDEN) -->
  <aside class="iti-context-nav d-none <% if (showLeftSidebar) { %>d-lg-block<% } %>">
    <% if (typeof nav !== 'undefined') { %>
      <%= nav %>
    <% } %>
  </aside>

  <!-- MAIN PAGE CONTENT -->
  <main class="iti-main order-1" <% if (typeof isRtl !== 'undefined') { %>style="text-align:right;"<% } %>>
    <div class="iti-content">
      <%= content %>
      <%= page_pagination %>
    </div>
  </main>

  <!-- RIGHT SIDEBAR (UNUSED) -->
  <aside class="iti-right-sidebar">
  </aside>
</div>
