<!-- HEADER -->
<header class="navbar navbar-expand-lg navbar-dark iti-navbar sticky-top">
  <nav class="container-xxl iti-gutter flex-wrap flex-lg-nowrap">

    <!-- HEADER MENU TOGGLE BUTTON (MOBILE: VISIBLE, DESKTOP: HIDDEN) -->
    <div class="iti-navbar-toggle">
      <button
        class="navbar-toggler"
        aria-label="Open navigation menu"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#itiMobileSidebar"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="bi"
          fill="white"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg>
      </button>
    </div>

    <!-- HEADER BRAND (MOBILE: CENTERED, DESKTOP: LHS) -->
    <a class="navbar-brand me-0" href="/">intl-tel-input</a>

    <div class="d-flex"></div>

    <!-- HEADER RHS NAV (MOBILE: HIDDEN, DESKTOP: VISIBLE) -->
    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
      <div class="offcanvas-body p-4 pt-0 p-lg-0">

        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
        </ul>

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto gap-2">
          <li class="nav-item dropdown col-6 col-lg-auto">
            <button
              type="button"
              class="nav-link dropdown-toggle d-inline-flex align-items-center gap-1 py-2 px-0 px-lg-2 bg-transparent border-0 iti-navlink-no-shift <% if (pageType === 'docs') { %>active<% } %>"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span data-text="Docs">Docs</span>
            </button>
            <ul class="dropdown-menu">
              <% docsDropdownPages.forEach((p) => { %>
                <li>
                  <a class="dropdown-item <% if (pageType === 'docs' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
                </li>
              <% }); %>
            </ul>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2 iti-navlink-no-shift <% if (pageType === 'playground') { %>active<% } %>"
              href="/playground"
            ><span data-text="Playground">Playground</span></a>
          </li>
          <li class="nav-item dropdown col-6 col-lg-auto">
            <button
              type="button"
              class="nav-link dropdown-toggle d-inline-flex align-items-center gap-1 py-2 px-0 px-lg-2 bg-transparent border-0 iti-navlink-no-shift <% if (pageType === 'examples') { %>active<% } %>"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span data-text="Examples">Examples</span>
            </button>
            <ul class="dropdown-menu">
              <% examplesDropdownPages.forEach((p) => { %>
                <li>
                  <a class="dropdown-item <% if (pageType === 'examples' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
                </li>
              <% }); %>
            </ul>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link px-lg-2 d-inline-flex align-items-center nav-link--github"
              href="https://github.com/jackocnr/intl-tel-input"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="navbar-nav-svg"
                viewBox="0 0 512 499.36"
                role="img"
              >
                <title>GitHub</title>
                <path
                  fill="white"
                  fill-rule="evenodd"
                  d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <button type="button" class="nav-link px-lg-2 d-inline-flex align-items-center cookie-prefs-header">
              <svg width="16" height="16" class="navbar-nav-svg" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <title>Cookie preferences</title>
                <path fill="currentColor" d="M19.1 1.2a1 1 0 0 0-.8-.9c-1.7-.2-3.5.1-5 1l-5.8 3A8.3 8.3 0 0 0 4 8l-3 5.9c-.7 1.6-1 3.3-.6 5l1.1 6.5A8.3 8.3 0 0 0 4 30l4.7 4.5c1.3 1.2 2.9 2 4.6 2.3l6.5.9c1.7.2 3.5-.1 5-1l5.8-3A8.3 8.3 0 0 0 34 30l3-5.9c.7-1.6 1-3.3.6-5a1 1 0 0 0-.8-.9 10 10 0 0 1-8.2-7.6c-.1-.6-.6-1-1.2-1.1a10 10 0 0 1-8.3-8.3Zm-3.9 9a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-5 15a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0Zm17.6-5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"/>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- MOBILE NAV SIDEBAR (MOBILE: TOGGLEABLE, DESKTOP: HIDDEN) -->
<aside class="iti-mobile-sidebar d-lg-none">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="itiMobileSidebar" aria-labelledby="itiMobileSidebarLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="itiMobileSidebarLabel">
        <a href="/">intl-tel-input</a>
      </h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvas"
        data-bs-target="#itiMobileSidebar"
        aria-label="Close navigation menu"
      ></button>
    </div>
    <div class="offcanvas-body flex-column">

      <ul class="flex-column flex-nowrap nav nav-pills nav--primary-links" id="itiMobilePrimaryNav">
        <li class="nav-item">
          <button
            type="button"
            class="nav-link iti-mobile-nav-toggle text-start w-100 d-flex align-items-center"
            data-bs-toggle="collapse"
            data-bs-target="#itiMobileDocsMenu"
            aria-controls="itiMobileDocsMenu"
            aria-expanded="<%= pageType === 'docs' ? 'true' : 'false' %>"
          >
            <span class="d-flex align-items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-book-half"
                style="color: rgb(53 217 184)"
                viewBox="0 0 16 16"
                aria-hidden="true"
                focusable="false"
              >
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
              </svg>
              <span class="d-inline-flex align-items-center gap-1">
                Docs
                <span class="iti-mobile-nav-toggle__chevron" aria-hidden="true"></span>
              </span>
            </span>
          </button>
          <ul
            class="iti-mobile-submenu collapse nav flex-column flex-nowrap nav-pills ms-4 mb-2 <% if (pageType === 'docs') { %>show<% } %>"
            id="itiMobileDocsMenu"
            data-bs-parent="#itiMobilePrimaryNav"
          >
            <% docsDropdownPages.forEach((p) => { %>
              <li class="nav-item">
                <a class="nav-link py-2 <% if (pageType === 'docs' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
              </li>
            <% }); %>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="/playground">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-joystick"
              style="color: rgb(230 68 134)"
              viewBox="0 0 16 16"
              aria-hidden="true"
              focusable="false"
            >
              <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2" />
              <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23" />
            </svg>
            Playground
          </a>
        </li>

        <li class="nav-item">
          <button
            type="button"
            class="nav-link iti-mobile-nav-toggle text-start w-100 d-flex align-items-center"
            data-bs-toggle="collapse"
            data-bs-target="#itiMobileExamplesMenu"
            aria-controls="itiMobileExamplesMenu"
            aria-expanded="<%= pageType === 'examples' ? 'true' : 'false' %>"
          >
            <span class="d-flex align-items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-code-square"
                style="color: rgb(222 159 74)"
                viewBox="0 0 16 16"
                aria-hidden="true"
                focusable="false"
              >
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0" />
              </svg>
              <span class="d-inline-flex align-items-center gap-1">
                Examples
                <span class="iti-mobile-nav-toggle__chevron" aria-hidden="true"></span>
              </span>
            </span>
          </button>
          <ul
            class="iti-mobile-submenu collapse nav flex-column flex-nowrap nav-pills ms-4 mb-2 <% if (pageType === 'examples') { %>show<% } %>"
            id="itiMobileExamplesMenu"
            data-bs-parent="#itiMobilePrimaryNav"
          >
            <% examplesDropdownPages.forEach((p) => { %>
              <li class="nav-item">
                <a class="nav-link py-2 <% if (pageType === 'examples' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
              </li>
            <% }); %>
          </ul>
        </li>
      </ul>

      <hr class="border-top my-3" />

      <ul class="flex-column flex-nowrap nav nav-pills nav--primary-links">
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="https://github.com/jackocnr/intl-tel-input"
            rel="noopener"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 512 499.36"
              role="img"
              aria-hidden="true"
              focusable="false"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
              ></path>
            </svg>
            Github
          </a>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link d-flex align-items-center gap-2 cookie-prefs-sidebar">
            <svg width="16" height="16" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M19.1172 1.15625C19.0547 0.734374 18.7344 0.390624 18.3125 0.328124C16.5859 0.0859365 14.8281 0.398437 13.2813 1.21875L7.5 4.30469C5.96094 5.125 4.71875 6.41406 3.95313 7.98437L1.08594 13.8906C0.320314 15.4609 0.0703136 17.2422 0.375001 18.9609L1.50781 25.4297C1.8125 27.1562 2.64844 28.7344 3.90625 29.9531L8.61719 34.5156C9.875 35.7344 11.4766 36.5156 13.2031 36.7578L19.6875 37.6719C21.4141 37.9141 23.1719 37.6016 24.7188 36.7812L30.5 33.6953C32.0391 32.875 33.2813 31.5859 34.0469 30.0078L36.9141 24.1094C37.6797 22.5391 37.9297 20.7578 37.625 19.0391C37.5547 18.625 37.2109 18.3125 36.7969 18.25C32.7734 17.6094 29.5469 14.5703 28.6328 10.6406C28.4922 10.0469 28.0078 9.59375 27.4063 9.5C23.1406 8.82031 19.7734 5.4375 19.1094 1.15625H19.1172ZM15.25 10.25C15.913 10.25 16.5489 10.5134 17.0178 10.9822C17.4866 11.4511 17.75 12.087 17.75 12.75C17.75 13.413 17.4866 14.0489 17.0178 14.5178C16.5489 14.9866 15.913 15.25 15.25 15.25C14.587 15.25 13.9511 14.9866 13.4822 14.5178C13.0134 14.0489 12.75 13.413 12.75 12.75C12.75 12.087 13.0134 11.4511 13.4822 10.9822C13.9511 10.5134 14.587 10.25 15.25 10.25ZM10.25 25.25C10.25 24.587 10.5134 23.9511 10.9822 23.4822C11.4511 23.0134 12.087 22.75 12.75 22.75C13.413 22.75 14.0489 23.0134 14.5178 23.4822C14.9866 23.9511 15.25 24.587 15.25 25.25C15.25 25.913 14.9866 26.5489 14.5178 27.0178C14.0489 27.4866 13.413 27.75 12.75 27.75C12.087 27.75 11.4511 27.4866 10.9822 27.0178C10.5134 26.5489 10.25 25.913 10.25 25.25ZM27.75 20.25C28.413 20.25 29.0489 20.5134 29.5178 20.9822C29.9866 21.4511 30.25 22.087 30.25 22.75C30.25 23.413 29.9866 24.0489 29.5178 24.5178C29.0489 24.9866 28.413 25.25 27.75 25.25C27.087 25.25 26.4511 24.9866 25.9822 24.5178C25.5134 24.0489 25.25 23.413 25.25 22.75C25.25 22.087 25.5134 21.4511 25.9822 20.9822C26.4511 20.5134 27.087 20.25 27.75 20.25Z" />
            </svg>
            Cookie preferences
          </button>
        </li>
      </ul>
    </div>
  </div>
</aside>

<!-- MAIN PAGE LAYOUT -->
<div class="container-xxl iti-gutter mt-3 my-md-4 <%= layoutClass %>">

  <!-- LEFT SIDEBAR (DESKTOP: PAGE-SPECIFIC NAV, MOBILE: HIDDEN) -->
  <aside class="iti-left-sidebar d-none <% if (showLeftSidebar) { %>d-lg-block<% } %>">
    <% if (typeof nav !== 'undefined') { %>
      <%= nav %>
    <% } %>
  </aside>

  <!-- MAIN PAGE CONTENT -->
  <main class="iti-main order-1" <% if (typeof isRtl !== 'undefined') { %>style="text-align:right;"<% } %>>
    <div class="iti-content ps-lg-2">
      <%= content %>

      <%
        const pagesForPrevNext = pageType === 'docs'
          ? docsDropdownPages
          : (pageType === 'examples' ? examplesDropdownPages : null);
        const activeIndex = pagesForPrevNext
          ? pagesForPrevNext.findIndex((p) => p.name === name)
          : -1;
        const prevPage = (pagesForPrevNext && activeIndex > 0)
          ? pagesForPrevNext[activeIndex - 1]
          : null;
        const nextPage = (pagesForPrevNext && activeIndex >= 0 && activeIndex < pagesForPrevNext.length - 1)
          ? pagesForPrevNext[activeIndex + 1]
          : null;
      %>
      <% if ((prevPage || nextPage) && pagesForPrevNext) { %>
        <nav class="d-flex justify-content-between mt-5 pt-4 border-top" aria-label="Page navigation">
          <div>
            <% if (prevPage) { %>
              <a href="<%= prevPage.href %>">&larr; <%= prevPage.label %></a>
            <% } %>
          </div>
          <div class="text-end">
            <% if (nextPage) { %>
              <a href="<%= nextPage.href %>"><%= nextPage.label %> &rarr;</a>
            <% } %>
          </div>
        </nav>
      <% } %>
    </div>
  </main>

  <!-- RIGHT SIDEBAR (MOBILE: HIDDEN, DESKTOP: DEPENDS ON layoutClass) -->
  <aside class="iti-right-sidebar">
    <% if (typeof show_right_sidebar_ad !== 'undefined' && show_right_sidebar_ad) { %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1090343328224651" crossorigin="anonymous"></script>
      <!-- right sidebar -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-1090343328224651"
          data-ad-slot="1699358650"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    <% } %>
  </aside>
</div>