<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= playgroundTitle %></title>
    <link rel="canonical" href="<%= playgroundCanonicalUrl %>" />
    <meta name="description" content="<%= playgroundMetaDesc %>" />

    <%= og_meta_tags %>
    <%= bootstrap_styles %>
    <%= iti_styles %>

    <%= highlight_styles %>

    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <link rel="stylesheet" href="<%= cacheBust('/css/playground.css') %>" />

    <!-- Algolia DocSearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4" />
    <meta name="algolia-site-verification"  content="0CFA182B50BFB071" />

    <%= common_head_end %>
  </head>

  <body>
    <%= layout %>
    <%= common_body_end %>
    <%= iti_script %>
    <script src="<%= cacheBust('/js/playground.js') %>"></script>
    <%= iti_live_results_script %>
  </body>
</html>
