<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title>Playground - International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com/playground" />
    <meta
      name="description"
      content="intl-tel-input playground - interactively tweak init options and see the plugin update live."
    />
    <%= bootstrap_styles %>
    <%= iti_styles %>
    <link rel="stylesheet" href="/css/website.css?<%= cacheBust('/css/website.css') %>" />
    <%= analytics %>
  </head>

  <body>
    <%= layout %>
    <%= bootstrap_script %>
    <%= iti_script %>
    <script src="/playground/playground.js?<%= cacheBust('/playground/playground.js') %>"></script>
    <%= iti_live_results_script %>
  </body>
</html>
