<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title>Playground - International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com/playground" />
    <meta
      name="description"
      content="intl-tel-input playground - interactively tweak init options and see the plugin update live."
    />

    <%= og_meta_tags %>
    <%= bootstrap_styles %>
    <%= iti_styles %>

    <link rel="stylesheet" href="/css/highlight-github-light.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="/css/highlight-github-dark.min.css" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <link rel="stylesheet" href="<%= cacheBust('/css/playground.css') %>" />

    <%= common_head_end %>
  </head>

  <body>
    <%= layout %>
    <%= common_body_end %>
    <%= iti_script %>
    <script src="<%= cacheBust('/js/playground.js') %>"></script>
    <%= iti_live_results_script %>
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
