<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %></title>
    <link rel="canonical" href="<%= canonical_url %>" />
    <meta name="description" content="<%= meta_desc %>">

    <%= og_meta_tags %>
    <%= common_styles %>

    <%= common_head_end_prod %>
  </head>

  <body class="iti-page iti-page--examples">
    <%= content %>
  </body>
</html>
