<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example: <%= title %></title>
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="../../build/css/intlTelInput.css?<%= time %>">
    <link rel="stylesheet" href="../../build/css/demo.css?<%= time %>">
    <% if (stylesheet) { %>
      <link rel="stylesheet" href="../css/<%= stylesheet %>?<%= time %>">
    <% } %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N472J4QKC4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-N472J4QKC4');
    </script>
  </head>

  <body>
    <a href="/">Back</a>
    <h1>Example: <%= title %></h1>
    <p><%= desc %></p>

    <h2>Markup</h2>
    <pre><code class="language-markup"><%- markup %></code></pre>

    <h2>Code</h2>
    <pre><code class="language-javascript"><%- code %></code></pre>

    <h2>Result</h2>
    <div id="result">
      <%= markup %>
    </div>

    <script src="../js/prism.js"></script>
    <script src="../../build/js/intlTelInput.js?<%= time %>"></script>
    <script src="./js/<%= script %>?<%= time %>"></script>
  </body>
</html>
