<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example: <%= title %></title>
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="../build/css/intlTelInput.css">
    <link rel="stylesheet" href="../build/css/demo.css">
    <%- customHead %>
  </head>

  <body>
    <h1>Example: <%= title %></h1>
    <p><%= desc %></p>
    
    <h2>Markup</h2>
    <pre><code class="language-markup"><%= markup %></code></pre>

    <h2>Code</h2>
    <pre><code class="language-javascript"><%= code %></code></pre>

    <h2>Result</h2>
    <%- markup %>

    <script src="js/prism.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../build/js/intlTelInput.js"></script>
    <script>
      <%- code %>
    </script>
  </body>
</html>