<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example: <%= title %></title>
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="../../build/css/intlTelInput.css?<%= time %>">
    <link rel="stylesheet" href="../../build/css/demo.css?<%= time %>">
    <% if (stylesheet) { %>
      <link rel="stylesheet" href="../css/<%= stylesheet %>?<%= time %>">
    <% } %>

    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85394876-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- /GOOGLE ANALYTICS -->
  </head>

  <body>
    <a href="/">Back</a>
    <h1>Example: <%= title %></h1>
    <p><%= desc %></p>

    <h2>Markup</h2>
    <pre><code class="language-markup"><%- markup %></code></pre>

    <h2>Code</h2>
    <pre><code class="language-javascript"><%- code %></code></pre>

    <h2>Result</h2>
    <div id="result">
      <%= markup %>
    </div>

    <script src="../js/prism.js"></script>
    <script src="../../build/js/intlTelInput.js?<%= time %>"></script>
    <script src="./js/<%= script %>?<%= time %>"></script>
  </body>
</html>
