<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %></title>
    <link rel="canonical" href="<%= canonical_url %>" />
    <meta name="description" content="<%= meta_desc %>">

    <%= og_meta_tags %>

    <%= bootstrap_styles %>

    <% if (typeof omit_iti_styles === 'undefined') { %>
      <%= iti_styles %>
    <% } %>

    <%= highlight_styles %>

    <!-- Algolia DocSearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4" />

    <% if (typeof stylesheet_before_demo_css !== 'undefined') { %>
      <link rel="stylesheet" href="<%= cacheBust(stylesheet_before_demo_css) %>">
    <% } %>
    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <% if (typeof stylesheet_after_demo_css !== 'undefined') { %>
      <link rel="stylesheet" href="<%= cacheBust(stylesheet_after_demo_css) %>">
    <% } %>

    <%= common_head_end_prod %>
  </head>

  <body>
    <%= content %>
  </body>
</html>
