<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %> example - International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com/<%= canonical_path %>" />
    <meta name="description" content="An example use of International Telephone Input. <%= meta_desc %>">

    <%= bootstrap_styles %>
    <% if (typeof omit_iti_styles === 'undefined') { %>
      <%= iti_styles %>
    <% } %>

    <link rel="stylesheet" href="/css/highlight-github-light.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="/css/highlight-github-dark.min.css" media="(prefers-color-scheme: dark)">

    <% if (typeof stylesheet_before_demo_css !== 'undefined') { %>
      <link rel="stylesheet" href="<%= cacheBust(stylesheet_before_demo_css) %>">
    <% } %>
    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <% if (typeof stylesheet_after_demo_css !== 'undefined') { %>
      <link rel="stylesheet" href="<%= cacheBust(stylesheet_after_demo_css) %>">
    <% } %>

    <%= common_head_end %>
  </head>

  <body>
    <%= content %>
  </body>
</html>
