<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %> - International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com/<%= canonical_path %>" />
    <meta name="description" content="<%= meta_desc %>">

    <%= bootstrap_styles %>
    <link rel="stylesheet" href="/css/website.css?<%= time %>" />
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/prism-overrides.css?<%= time %>">

    <%= analytics %>
  </head>

  <body>
    <%= layout %>
    <%= bootstrap_script %>
    <script src="/js/prism.js"></script>
  </body>
</html>
