<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %></title>
    <link rel="canonical" href="<%= canonical_url %>" />
    <meta name="description" content="<%= meta_desc %>">

    <%= og_meta_tags %>

    <%= bootstrap_styles %>

    <%= highlight_styles %>

    <!-- Algolia DocSearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4" />

    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <link rel="stylesheet" href="<%= cacheBust('/css/docs.css') %>" />

    <%= common_head_end_prod %>
  </head>

  <body>
    <%= layout %>
    <%= common_body_end %>
  </body>
</html>
