<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= head_title %> - International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com/<%= canonical_path %>" />
    <meta name="description" content="<%= meta_desc %>">

    <%= bootstrap_styles %>

    <link rel="stylesheet" href="/css/highlight-github-light.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="/css/highlight-github-dark.min.css" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />

    <%= common_head_end %>
  </head>

  <body>
    <%= layout %>
    <%= common_body_end %>
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
