<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title>International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com" />
    <meta
      name="description"
      content="International Telephone Input - a JavaScript plugin for entering international telephone numbers."
    />
    <%= bootstrap_styles %>

    <!-- ITI styles - show largeFlags version on desktop -->
    <link rel="stylesheet" href="/intl-tel-input/css/intlTelInput.css?<%= cacheBust('/intl-tel-input/css/intlTelInput.css') %>" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="/css/intlTelInput-largeFlags.css?<%= cacheBust('/css/intlTelInput-largeFlags.css') %>" media="screen and (min-width: 769px)">

    <!-- website styles must come after ITI styles as contains dark mode overrides -->
    <link rel="stylesheet" href="/css/website.css?<%= cacheBust('/css/website.css') %>" />

    <!-- large flags overrides must come after website styles -->
    <link rel="stylesheet" href="/css/large_flags_overrides.css?<%= cacheBust('/css/large_flags_overrides.css') %>" media="screen and (min-width: 769px)">

    <%= analytics %>
  </head>

  <body class="iti-page--homepage">
    <%= layout %>
    <%= bootstrap_script %>
    <%= iti_script %>
    <script>
      const input = document.querySelector("#phone");
      window.intlTelInput(input, {
        initialCountry: "auto",
        geoIpLookup: (success, failure) => {
          fetch("https://ipapi.co/json")
            .then(res => res.json())
            .then(data => success(data.country_code))
            .catch(() => failure());
        },
        loadUtils: () => import("/intl-tel-input/js/utils.js?<%= cacheBust('/intl-tel-input/js/utils.js') %>"),
      });
    </script>
    <%= iti_live_results_script %>
  </body>
</html>
