<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title><%= homepageTitle %></title>
    <link rel="canonical" href="<%= homepageCanonicalUrl %>" />
    <meta name="description" content="<%= homepageMetaDesc %>" />
    <%= og_meta_tags %>
    <%= bootstrap_styles %>

    <!-- ITI styles - show largeFlags version on desktop -->
    <% const itiCss = isDevBuild ? 'intlTelInput.css' : 'intlTelInput.min.css'; %>
    <link rel="stylesheet" href="<%= cacheBust('/intl-tel-input/css/' + itiCss) %>" media="screen and (max-width: 991px)">
    <link rel="stylesheet" href="<%= cacheBust('/css/intlTelInput-largeFlags.css') %>" media="screen and (min-width: 992px)">

    <!-- website styles must come after ITI styles as contains dark mode overrides -->
    <link rel="stylesheet" href="<%= cacheBust('/css/website.css') %>" />
    <link rel="stylesheet" href="<%= cacheBust('/css/homepage.css') %>" />

    <!-- large flags overrides must come after website styles -->
    <link rel="stylesheet" href="<%= cacheBust('/css/large_flags_overrides.css') %>" media="screen and (min-width: 992px)">

    <!-- Algolia DocSearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4" />
    <meta name="algolia-site-verification"  content="0CFA182B50BFB071" />

    <%= common_head_end %>
  </head>

  <body class="iti-page--homepage">
    <%= layout %>
    <%= common_body_end %>
    <%= iti_script %>
    <script src="<%= cacheBust('/js/homepage.js') %>"></script>
    <%= iti_live_results_script %>
  </body>
</html>
