<!DOCTYPE html>
<html lang="en">
  <head>
    <%= common_meta_tags %>
    <title>International Telephone Input</title>
    <link rel="canonical" href="https://intl-tel-input.com" />
    <meta
      name="description"
      content="International Telephone Input - a JavaScript plugin for entering international telephone numbers."
    />
    <%= bootstrap_styles %>
    <%= iti_styles %>
    <link rel="stylesheet" href="/css/website.css?<%= cacheBust('/css/website.css') %>" />
    <%= analytics %>
  </head>

  <body class="iti-page--homepage">
    <%= layout %>
    <%= bootstrap_script %>
    <%= iti_script %>
    <script>
      const input = document.querySelector("#phone");
      window.iti = window.intlTelInput(input, {
        initialCountry: "auto",
        geoIpLookup: (success, failure) => {
          fetch("https://ipapi.co/json")
            .then(res => res.json())
            .then(data => success(data.country_code))
            .catch(() => failure());
        },
        loadUtils: () => import("/intl-tel-input/js/utils.js?<%= cacheBust('/intl-tel-input/js/utils.js') %>"),
      });
    </script>
    <%= iti_live_results_script %>
  </body>
</html>
