<header class="navbar navbar-expand-lg navbar-dark iti-header-nav sticky-top">
  <nav class="container-xxl iti-gutter flex-wrap flex-lg-nowrap iti-header-nav-row">

    <!-- HAMBURGER TOGGLE BUTTON (MOBILE: VISIBLE, DESKTOP: HIDDEN) -->
    <div class="iti-header-nav-toggle">
      <button
        class="navbar-toggler"
        aria-label="Open navigation menu"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#itiMobileNav"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="bi"
          fill="white"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg>
      </button>
    </div>

    <!-- HEADER BRAND (MOBILE: CENTERED, DESKTOP: LHS) -->
    <a class="navbar-brand me-0 d-flex align-items-center" href="/">
      <img src="/img/logo-white.png" alt="intl-tel-input logo" width="25" height="25" class="iti-logo">
      intl-tel-input
    </a>

    <!-- HEADER SEARCH TRIGGER ICON (MOBILE: RHS ICON, DESKTOP: HIDDEN) -->
    <div class="d-flex align-items-center">
      <button
        type="button"
        id="itiSearchButtonMobile"
        class="iti-header-nav-icon-btn d-lg-none"
        aria-label="Search"
        data-iti-search-trigger="mobile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="bi"
          fill="white"
          viewBox="0 0 16 16"
          aria-hidden="true"
          focusable="false"
        >
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
      </button>
    </div>

    <!-- HEADER NAV MENU CONTAINER (MOBILE: HIDDEN, DESKTOP: VISIBLE) -->
    <div class="offcanvas-lg offcanvas-end flex-grow-1 iti-header-nav-menu" tabindex="-1">
      <div class="offcanvas-body p-4 pt-0 p-lg-0 d-lg-flex align-items-lg-center">

        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
        </ul>

        <!-- HEADER SEARCH TRIGGER INPUT (MOBILE: HIDDEN, DESKTOP: VISIBLE) -->
        <div class="iti-header-nav-search d-none d-lg-block">
          <div id="docsearch"></div>
        </div>

        <!-- HEADER NAV MENU (MOBILE: HIDDEN, DESKTOP: VISIBLE) -->
        <ul class="navbar-nav flex-row flex-wrap align-items-center ms-md-auto gap-2">
          <li class="nav-item dropdown col-6 col-lg-auto">
            <button
              type="button"
              class="nav-link dropdown-toggle d-inline-flex align-items-center gap-1 py-2 px-0 px-lg-2 bg-transparent border-0 iti-header-nav-link-no-shift <% if (pageType === 'docs') { %>active<% } %>"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span data-text="Docs">Docs</span>
            </button>
            <ul class="dropdown-menu">
              <% docsDropdownPages.forEach((p) => { %>
                <li<% if (p.nested) { %> class="iti-nav-item--nested"<% } %>>
                  <a class="dropdown-item <% if (pageType === 'docs' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
                </li>
              <% }); %>
            </ul>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link d-inline-flex align-items-center py-2 px-0 px-lg-2 iti-header-nav-link-no-shift <% if (pageType === 'playground') { %>active<% } %>"
              href="/playground"
            ><span data-text="Playground">Playground</span></a>
          </li>
          <li class="nav-item dropdown col-6 col-lg-auto">
            <button
              type="button"
              class="nav-link dropdown-toggle d-inline-flex align-items-center gap-1 py-2 px-0 px-lg-2 bg-transparent border-0 iti-header-nav-link-no-shift <% if (pageType === 'examples') { %>active<% } %>"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span data-text="Examples">Examples</span>
            </button>
            <ul class="dropdown-menu">
              <% examplesDropdownSections.forEach((section) => { %>
                <li class="iti-flyout-section">
                  <button
                    type="button"
                    class="iti-nav-section-heading iti-flyout-toggle d-flex align-items-center justify-content-between w-100 gap-2"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span><%= section.label %></span>
                    <span class="iti-nav-chevron iti-nav-chevron--right" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu iti-flyout-menu">
                    <% section.items.forEach((p) => { %>
                      <li>
                        <a class="dropdown-item <% if (pageType === 'examples' && name === p.name) { %>active<% } %>" href="<%= p.href %>"><%= p.label %></a>
                      </li>
                    <% }); %>
                  </ul>
                </li>
              <% }); %>
            </ul>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link px-lg-2 d-inline-flex align-items-center nav-link--github"
              href="https://github.com/jackocnr/intl-tel-input"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="navbar-nav-svg"
                viewBox="0 0 512 499.36"
                role="img"
              >
                <title>GitHub</title>
                <path
                  fill="white"
                  fill-rule="evenodd"
                  d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
